$blue: #354b58;
$silverBlue: #8499ae;
$lighterBlue: #9EB3C8;
$footerBlue: #3c505c;
$dimGray: #676e72;
$ctaBlue: #31383e;
$white: #ffffff;

$sansSerifStack:  'Open Sans', arial, sans-serif;
$serifStack: 'Bitter', georgia, "Times New Roman", serif; 